html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 150px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem; 
  background-color: #e60000; 
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 15px;
  border: 1px solid #cc0000; 

  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.2) 100%
  );

box-shadow:
    5px 5px 15px rgba(0, 0, 0, 0.2), 
    inset 2px 2px 5px rgba(0, 0, 0, 0.3), 
    inset -2px -2px 5px rgba(0, 0, 0, 0.5); 
}
